<div class="col-md-12">
    <!-- Profile Image -->
    <div class="card card-primary card-outline">
      <div class="card-body box-profile">
        <div class="text-center">
          <img class="profile-user-img img-fluid img-circle avatar"
               src="{{this.user.avatar}}"
               alt="User profile" (click)="changeAvatar()">
        </div>

        <h3 class="profile-username text-center">{{user?.fullName}}</h3>

        <p class="text-muted text-center">{{user?.userName}}</p>

        <ul class="list-group list-group-unbordered mb-3">
          <li class="list-group-item">
            <b>Nombre:</b> <a class="float-right"><input type="text" class="form-control" name="name" [(ngModel)]="user.name"/></a>
          </li>
          <li class="list-group-item">
            <b>Apellido:</b> <a class="float-right"><input type="text" class="form-control" name="lastName" [(ngModel)]="user.lastName"/></a>
          </li>
          <li class="list-group-item">
            <b>Telefono:</b> <a class="float-right"><input type="text" class="form-control" name="phoneNumber" [(ngModel)]="user.phoneNumber"/></a>
          </li>
        </ul>

        <a href="#" class="btn btn-primary btn-block" (click)="updateProfile()"><b>Actualizar Perfil</b></a>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->

    <!-- About Me Box -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title">Permisos del Rol</h3>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
          <table class="table table-striped table-valign-middle">
              <thead>
              <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Descripcion</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let permission of user?.rol?.permissions">
                <td>
                  {{permission.name}}
                </td>
                <td>
                  {{permission.description}}
                </td>
              </tr>
              </tbody>
            </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
   



  <div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Cambiar Avatar</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="col-12">
                <div class="row">
                  <input type="file" (change)="fileChangeEvent($event)" />
                  <image-cropper
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="4 / 3"
                      [resizeToWidth]="256"
                      format="png"
                      (imageCroppedBase64)="imageCropped($event)"
                      (imageLoaded)="imageLoaded()"
                      (loadImageFailed)="loadImageFailed()"
                  ></image-cropper>
                  <!-- <img [src]="croppedImage" /> -->
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" #btnClose class="btn btn-secondary" data-dismiss="modal">Salir</button>
            <button type="submit" class="btn btn-primary" (click)="uploadAvatar()">Guardar Avatar</button>
          </div>
        </div>
      </div>
    </div>
